<h3 *ngIf="currentTask" class="m-2">{{currentTask.name}}</h3>
<div *ngIf="currentTask.id > 0; else selectTaskInfo" class="card">
    <ul class="list-group list-group-flush">
        <li *ngFor="let todo of currentTask.todos; let i = index" [attr.data-index]="i"
        [ngClass]="[(i > synchronizedTodos - 1) ? 'td-not-saved' : (i < currentTask.currentTodoIndex) ?
        'td-done' : (i > currentTask.currentTodoIndex) ?
        'td-todo' : 'td-doing', 'list-group-item']">
          {{todo}} <span *ngIf="i === currentTask.currentTodoIndex  && !(i > synchronizedTodos - 1)" (click)="done()" class="btn btn-success">Done!</span>
          </li>

        <li>
          <input class="list-group-item" placeholder="add todo..." type="text" maxLength="maxTodoNameLength" [ngClass]="['form-control',(newTodoName.length > 0) ? '': 'inactive-input']" [(ngModel)]="newTodoName" (keyup)="checkNameLength()" (keyup.enter)="addNewTodo(newTodoName)" (focusout)="saveTodos()">
          <span class="input-length">{{newTodoName.length}}&nbsp;/&nbsp;{{maxTodoNameLength}}</span>
        </li>

    </ul>
</div>

<!-- <span *ngIf="!todosSaved" class="btn btn-outline-dark col-2 mt-2" (click)="saveTodos()" >save</span> -->


<ng-template #selectTaskInfo>
  <span class="font-italic">Select a task, please.</span>
</ng-template>
