<div class="background-image"></div>

<div class="row p-2 main-row" >
  <div class="col-lg-8 col-md-7 col-xs-0 p-2 align-self-center">
    <div class="main-text">
        <h1 class="m-4">Focus on one thing.</h1>
        <h2 class="m-2">Get sh*t done the smart way.</h2>
    </div>
  </div>

  <div class="login-column col-lg-4 col-md-5 col-xs-12 align-self-center">
    <div class="card m-1 p-3 text-light align-middle" id="login_card">

      <div >
        <div class="card-header p-0">
          <h5 class="mt-1 mb-4 ml-1">Get stuff done!</h5>
        </div>

        <div class="card-body p-1">
            <app-login *ngIf="!loggedIn; else loggedInTmplt"></app-login>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #loggedInTmplt>
    <button class="btn btn-outline-light" routerLink="/projects">My Projects >></button>
</ng-template>

