<div id="projects_bg">
  <div class="row">
      <div class="col-6">
          <h3 class="m-2">Projects</h3>

          <app-project *ngFor="let project of projects" [project]="project" (selectedTask)="changeCurrentTask($event)"> </app-project>



          <div class="card">
            <div class="card-header p-2">
              <div class="input-group">
                  <input type="text" placeHolder="new project name" class="form-control" [(ngModel)]="newProjectName" (keyup.enter)="addProject()">
                  <span class="btn btn-success ml-2" (click)="addProject()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
            <app-current-task [currentTask]="currentTask"></app-current-task>
      </div>




    </div>
