<div class="row">
    <div class="col">
        <h3 class="m-2">Projects</h3>
        <div class="card mb-3" *ngFor="let project of projects" >

          <div class="card-header" (mouseenter)="projectHeaderMouseAction(project.id, 'enter')"
           (mouseleave)="projectHeaderMouseAction(project.id, 'leave')">
              <div *ngIf="mouseOnProjectId === project.id" class="project-options">
                  <fa-icon [icon]="faTimes" class="delete-button"></fa-icon>
                  <fa-icon [icon]="faPencilAlt" class="edit-button"></fa-icon>
              </div>
            {{project.name}}
          </div>

              <ul class="list-group list-group-flush">
                  <li *ngFor="let task of project.tasks" class="list-group-item"
                  (click)="selectTask(task)">{{task.name}}</li>
              </ul>

        </div>
        <div class="card">
          <div class="card-header p-2">
            <div class="input-group">
                <input type="text" placeHolder="new project name" class="form-control" [(ngModel)]="newProjectName">
                <span class="btn btn-success ml-2" (click)="addProject()">
                  <fa-icon [icon]="faPlus"></fa-icon>
                </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
          <h3 *ngIf="currentTask" class="m-2">{{currentTask.name}}</h3>
          <div *ngIf="currentTask; else selectTaskInfo" class="card">
              <ul class="list-group list-group-flush">
                  <li *ngFor="let todo of currentTask.todos" class="list-group-item">{{todo}}</li>
              </ul>
          </div>

      </div>
</div>


<ng-template #selectTaskInfo>
  <span class="font-italic">Select a task, please.</span>
</ng-template>
