<div id="projects_bg">
  <div class="row flex-row-reverse">

      <div class="col-md-6">
          <app-current-task [currentTask]="currentTask"></app-current-task>
          <div class="row bg-transparent justify-content-center">

              <div *ngIf="currentTask.currentTodoIndex === currentTask.todos.length && currentTask.currentTodoIndex !== 0"
              class="btn btn-success bg-success px-3 py-2 mt-4" (click)="finishCurrentTask()">FINISH TASK</div>

          </div>

    </div>

    <div class="col-md-6">
      <h3 class="m-2">Projects</h3>

      <app-project *ngFor="let project of projects" [project]="project" (selectedTask)="changeCurrentTask($event)"> </app-project>

      <div class="card">
        <div class="card-header">
          <div class="input-group">
              <input type="text" placeHolder="new project name" class="form-control" [(ngModel)]="newProjectName" (keyup.enter)="addProject()">
              <span class="btn btn-success ml-2" (click)="addProject()">
                <fa-icon [icon]="faPlus"></fa-icon>
              </span>
          </div>
        </div>
      </div>
    </div>

  </div>
