<div  *ngIf="project.id > 0"  class="card mb-3"
          (mouseenter)="projectMouseAction('enter')"
          (mouseleave)="projectMouseAction('leave')">


          <div *ngIf="!headerEditing; else editingProjectHeader" class="card-header" (mouseenter)="projectHeaderMouseAction('enter')"
           (mouseleave)="projectHeaderMouseAction('leave')">
              <div *ngIf="mouseOnProjectHeader" class="project-options" @projectOptions >
                  <fa-icon [icon]="faTimes" (click)="deleteProject(project)" class="delete-button"></fa-icon>
                  <fa-icon [icon]="faPencilAlt" (click)="editProjectHeader(project)" class="edit-button"></fa-icon>
              </div>
            {{project.name}}
          </div>

              <ul class="list-group list-group-flush">
                  <li *ngFor="let task of project.tasks" class="list-group-item"
                  (click)="selectTask(task)" [ngClass]="[((selectedTaskLocal === task) ? 'selected-task' : 'default-task'), 'list-group-item']">
                    <div class="row">
                    <div *ngIf="task !== editingTask; else editingTaskName" class="col-9">
                        <fa-icon [icon]="faPencilAlt" (click)="editTaskName(task)" class="task-edit-button"></fa-icon>
                        {{task.name}}
                    </div>
                    <div class="col-3" *ngIf="task.id > 0 && task !== editingTask">
                      <p class="progress-count font-weight-bold text-center m-0">{{task.currentTodoIndex}} / {{task.todos.length}}</p>
                      <div class="progress" >
                        <div class="progress-bar bg-success" style.width="{{(task.currentTodoIndex/task.todos.length)*100}}%">
                        </div>
                      </div>
                    </div>
                  </div>
                  </li>
              </ul>
              <span *ngIf="mouseOnProject && showNewTaskButton" (click)="showNewTaskInput()" class="btn btn-success new-task-button" @newTaskButton>
                  <fa-icon  [icon]="faPlus" ></fa-icon>&nbsp; new task
              </span>

        </div>

        <ng-template #editingProjectHeader>
          <div class="card-header p-2">
            <div class="input-group">
              <input type="text" [ngClass]="[(project.name.length > projectNameMaxLength)? 'is-invalid' : '', 'form-control']" [(ngModel)]="project.name" (keyup.enter)="saveProjectHeader()">
                <span [ngClass]="[(project.name.length > taskNameMaxLength) ? 'disabled' : 'btn-success', 'btn', 'ml-2']" (click)="saveProjectHeader()">
                  <fa-icon [icon]="faSave"></fa-icon>
                  </span>
                </div>
                <span *ngIf="project.name.length > projectNameMaxLength" class="text-danger">Project name is too long.</span>
              </div>

        </ng-template>

        <ng-template #editingTaskName>
            <div class="input-group p-0">
           <input type="text" [ngClass]="[(editingTask.name.length > taskNameMaxLength)? 'is-invalid' : '', 'form-control', 'm-0', 'p-0', 'pl-2']" [(ngModel)]="editingTask.name" (keyup.enter)="saveTaskName()">
           <span [ngClass]="[(editingTask.name.length > taskNameMaxLength) ? 'disabled' : 'btn-success', 'btn', 'ml-2']" (click)="saveTaskName()">
             <fa-icon [icon]="faSave"></fa-icon>
          </span>

          </div>
          <span *ngIf="editingTask.name.length > taskNameMaxLength" class="text-danger font-weight-normal mb-0">Task name is too long.</span>
        </ng-template>

