.project-options{
  position: absolute;
  left: -70px;
  letter-spacing: 10%;
  font-size: 1.8rem;
  top: 2px;

}

.project{
  border: 1px solid #888;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 120px 0 rgba(0, 0, 0, 0.19);

}

.project-header{
  font-weight: 600;
  z-index: 1;
  border-bottom: 1px solid rgb(161, 161, 161);
  background-image: radial-gradient( rgba(255, 255, 255, 1), rgba(220,220,220,1));
}

.project-options .delete-button{
  color: rgb(221, 83, 83);
}

.project-options .delete-button:hover{
  color: rgb(175, 33, 33);
}

.project-options .edit-button{
  color: rgb(97, 128, 228);
  margin: 10px;
}
.project-options .edit-button:hover{
  color: rgb(47, 85, 209);
  margin: 10px;
}

.new-task-button {
  position: absolute;
  bottom: -36px;
  z-index: 2;
  background: rgba(50, 200, 30, 0.315);
  color: rgb(50,50,50);
}

.new-task-button:hover {
  color: white;
  background: rgba(50, 200, 30, 0.9);
}



.progress{
  height: 5px;
}

.progress-count{
  font-size: 0.75rem;
  color: green;
}

.selected-task{
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
}

.selected-task .progress {

}

.selected-task .progress-count {

}

.default-task{
  background-color: rgba(241, 241, 241, 0.6);
  transition: .2s;
}


.default-task:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(247, 247, 247);
}
