.project-options{
  position: absolute;
  left: -70px;
  letter-spacing: 10%;
  font-size: 1.8rem;
  top: 2px;

}


.project-options .delete-button{
  color: rgb(221, 83, 83);
}

.project-options .delete-button:hover{
  color: rgb(175, 33, 33);
}

.project-options .edit-button{
  color: rgb(97, 128, 228);
  margin: 10px;
}
.project-options .edit-button:hover{
  color: rgb(47, 85, 209);
  margin: 10px;
}

.new-task-button {
  position: absolute;
  bottom: -36px;
  z-index: 2;
  background: rgba(50, 200, 30, 0.7);
  color: rgb(50,50,50);
}

.new-task-button:hover {
  color: white;
  background: rgba(50, 200, 30, 0.9);
}

.progress{
  height: 5px;
}

.progress-count{
  font-size: 0.75rem;
  color: green;
}

.selected-task{
  background-color: rgb(220, 220, 220);
  font-weight: 700;
}

.selected-task .progress {

}

.selected-task .progress-count {

}

.default-task{

}
